<!DOCTYPE html>
<html>
<head>
    <title>Mike</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/public/css/global.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <gheader></gheader>

        <div id="content-wrapper">
            <div id="content">

                <h2>This Page is Work in Progress!</h2>
                <h4>Please check back later!</h4>

            </div>
        </div>

        <gfooter></gfooter>
    </div>

    <script src="/public/js/global.js"></script>
    <script>new Vue({el: '#app'});</script>
</body>
</html>