* {
    --header: #1C1E21;
    --backpage: #212327;
    --background: #282A2F;
    --title: #FFFFFF;
    --text: #B3B3B3;
    --text-min: #666769;
    --dividers: #2E3138;
    --accent: #FFE680;
    --accent-50op: #FFE68088;

    --font-family: 'Montserrat';
    --font-weight-normal: 400;
    --font-weight-bold: 800;

    --content-width: 90%;
    --content-max-width: 1200px;
    --header-height: 80px;
}

* {
    font-family: var(--font-family), 'Roboto', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

html, body, #app {
    background-color: var(--backpage);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#app {
    padding-top: calc(1.5 * var(--header-height));
    height: unset !important;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: var(--header);
    height: var(--header-height);
    display: flex;
    justify-content: center;
}

#header-content {
    width: var(--content-width);
    max-width: var(--content-max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#header-name {
    font-size: 28px;
}

#header-name-mike {
    display: inline-block;
    color: var(--title);
    font-weight: var(--font-weight-bold);
}

#header-name-page {
    --color: var(--accent);
    display: inline-block;
    color: var(--ccolor);
    font-weight: var(--font-weight-normal);
    padding-left: 5px;
}

#content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}

#content {
    width: var(--content-width);
    max-width: var(--content-max-width);
}

footer {
    width: 100%;
    background: var(--header);
    display: flex;
    justify-content: center;
}

#footer-content {
    width: var(--content-width);
    max-width: var(--content-max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}